extends layout.pug

block appContent
        h1 Welcome to our warehouse
        
        br
        a(href='/categories') All categories
        p
        br
        a(href='/products') All products
            